.App {
  display: flex; /* displays the content as a flex container */
  justify-content: center; /* centers the content horizontally */
  background-image: url('../src/taskbg.jpg');
  align-items: center; /* centers the content vertically */
  height: 100vh; /* sets content to 100% of the viewport height */
}

.scoreboard {
  font-weight: bold;
  color: white;
}

.board {
  position: relative;
  width: 600px;
  height: 400px;
  background-color: black;
}

.paddle {
  position: absolute;
  width: 10px;
  height: 80px;
  background-color: white;
}

.ball {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.custom {
    background-color: #57aae5;
    border: none; /* removes button border */
    color: rgb(86, 5, 5);
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none; /* removes underline from the text */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; /* makes corners round */
}
