.App {
  display: flex; /* displays the content as a flex container */
  justify-content: center; /* centers the content horizontally */
  background-image: url('../src/backgrounds/taskbg-1.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* sets content to 100% of the viewport height */
}

.App2 {
  display: flex; /* displays the content as a flex container */
  justify-content: center; /* centers the content horizontally */
  background-image: url('../src/backgrounds/taskbg-2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* sets content to 100% of the viewport height */
}

.App3 {
  display: flex; /* displays the content as a flex container */
  justify-content: center; /* centers the content horizontally */
  background-image: url('../src/backgrounds/taskbg-3.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* sets content to 100% of the viewport height */
}

.App4 {
  display: flex; /* displays the content as a flex container */
  justify-content: center; /* centers the content horizontally */
  background-image: url('../src/backgrounds/taskbg-4.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* sets content to 100% of the viewport height */
}

.App5 {
  display: flex; /* displays the content as a flex container */
  justify-content: center; /* centers the content horizontally */
  background-image: url('../src/backgrounds/taskbg-5.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* sets content to 100% of the viewport height */
}

/* sets all the buttons to be alligned */
.vertical-elements {
  display: flex;
  align-items: center;
}

/* the propoerties of the title at the very top */
.title {
  color: black; 
  font-weight: bolder;
  font-size: 65px;
  align-items: center;
  text-align: center;
  background: whitesmoke;
  border-radius: 30px; 
}

/* the properties of the output that is underneath the game board */
.output-print {
  color: black;
  font-weight: bold;
  font-size: x-large;
  background-color: white;
  text-wrap: wrap;
  text-align: center;
}

/* the properties of the scoreboard below the title */
.scoreboard {
  font-weight: bold;
  color: black;
  background-color: white;
  padding: 1%;
  margin: 1%;
  border-radius: 30px;
  font-size: 30px;
  text-align: center;
}

/* the properties of the actual game board */
.board {
  position: relative;
  width: 722px;
  height: 457px;
  background-color: black;
  background-image: url('../src/table.png');
  background-position: 0; 
  background-size: contain;
}

/* the properties of the paddles */
.paddle {
  position: absolute;
  width: 20px;
  height: 110px;
  background-color: red;
}

/* the properties of the ball */
.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
}

.custom {
  background-color: white;
  border: none; /* removes button border */
  color: black;
  text-align: center;
  text-decoration: none; /* removes underline from the text */
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px; /* makes corners round */
  padding: 5%;
  margin: 1%; 
  border-radius: 30px;
  text-wrap:nowrap;

}

/* the butons change properties when someone is hovering over themn with their mouse */
.custom:hover {
  background-color: grey;
  border: none; 
  color: rgb(86, 5, 5);
  text-align: center;
  text-decoration: none; 
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px; 
  padding: 5%;
  margin: 1%; 
  border-radius: 30px; 
  text-wrap:nowrap;
}